## environment
POSTFIX_RELAY_MYNET='127.0.0.0/8 172.16.0.0/12 192.168.0.0/16'
POSTFIX_RELAY_HOST=[smtp.example.com]:587 ## smart relay host
POSTFIX_RELAY_USER=admin@you.tld ## smtp user
POSTFIX_RELAY_PASS=passWord      ## smtp pass
